# Python
__pycache__/
*.py[cod]
*.pyo
*.pkl

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# PyInstaller / Nuitka output
*.spec
*.exe
*.bin
*.manifest
*.dll

# Backup
*.bak
*.old

# Logs
*.log
mkpng.py
Icon.png
Icon.png
mytree
*.mplstyle
*.ttf
/MainWindow.dist
/.claude

# Data
ExampleData/Test_D2.xdf
ExampleData/p999.xdf

*.vhdr
*.vmrk
/ExampleData/export
docs/Carspan_Manual_VERSION_36.txt
HANDOFF.md
_commit_msg.txt
