# Python
__pycache__/
*.py[cod]
*.pyo
*.pkl

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# PyInstaller / Nuitka output
*.spec
*.exe
*.bin
*.manifest
*.dll

# Backup
*.bak
*.old

# Logs
*.log
mkpng.py
Icon.png
Icon.png
mytree
